/*------------------------
        RESET
---------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*------------------------
        GENERALI
---------------------- */

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

i {
  padding-right: 5px;
}

header {
  background-color: #ff6900;
  min-height: 70px;
  color: #fff;
  position: sticky;
}

.hearts{
    color: black;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}


/*------------------------
        HEADER
---------------------- */


.container > .header-block {
  display: flex;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header-block > .category {
  width: 40%;
  text-align: left;
  padding-top: 25px;
}

.header-block > .Logo {
  width: 20%;
  text-align: center;
  padding-top: 20px;
}

.logoimg {
  width: 120px;
  height: 30px;
}

.header-block > .emoji {
  width: 40%;
  text-align: right;
  padding-top: 25px;
}

/*------------------------
        MAIN
---------------------- */

main .container img {
    max-width: 450px;
    min-height: 600px;
  }
  
  main .container {
    display: flex;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
  }
  
  .whitesquare{
      width: 70px;
      height: 70px;
      background-color: white;
      position: absolute;
      right: 0;
  }
  
  .contenitore1,
  .contenitore2,
  .contenitore3,
  .contenitorebotleft,
  .contenitorebot,
  .contenitorebotright{
      position: relative;
  }


